%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        =link_to("glossÄrium", root_path)
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span
  .top-bar-section
    %ul.right
      %li.divider.hide-for-small
      %li
        =link_to "entries", collection_entries_path(@collection)
